---
import Header from '../components/Header.astro';
import Grid from '../components/Grid.astro';
import { STUDENTS } from '../data/students.js';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Reencuentro Prom 2016</title>
  </head>

  <body class="bg-[#f0e6d3] text-[#3b1f0e] min-h-screen flex flex-col">
    
    <Header />

    <Grid students={STUDENTS} />

  </body>
</html>