---
import Gallery from '../components/Gallery.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { STUDENTS } from '../data/students.js';
import LightboxIsland from '../islands/LightboxIsland.jsx';
---

<Layout title="Reencuentro Prom 2016">
  <div class="flex min-h-screen flex-col">
    <Header />
    <Gallery students={STUDENTS} />
    <LightboxIsland client:load students={STUDENTS} />
  </div>
</Layout>
