---
// src/components/Cell.astro
const { student, index } = Astro.props;

const isEmpty = student.type === 'empty';

---
<!-- const stateClass = isEmpty 
  ? 'opacity-40 pointer-events-none' 
  : 'cursor-pointer'; -->

<div class="flex flex-col items-center">
    <div
    class={`relative w-[clamp(40px,6vw,80px)] lg:m-2 aspect-[3/4] border border-[#5c3317]/40 bg-[#f7f0e6] shadow 
    transition hover:scale-105 hover:shadow-xl`}
    
    data-index={index}
  >
    {
      student.photo && !isEmpty ? (
        <img
          src={student.photo}
          alt={student.name}
          loading="lazy"
          class="absolute inset-0 w-full h-full object-cover sepia-[0.3]"
        />
      ) : (
        <div class="absolute inset-0 flex items-center justify-center opacity-45 ">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                <circle cx="24" cy="17" r="9" stroke="currentColor" stroke-width="3"/>
                <path d="M5 44c0-10.5 8.5-19 19-19s19 8.5 19 19" stroke="currentColor" stroke-width="3" stroke-linecap="round"/>
              </svg>
            </div>
      )
    }
  </div>

  <div class="text-center text-[0.7rem] mt-1 truncate w-full font-[cursive]">
     {student.name}
  </div>
</div>