---
// src/components/Grid.astro
import Cell from './Cell.astro';

interface Props {
  students: Array<{
    name: string;
    photo?: string;
    type?: string;
  }>;
}

const { students } = Astro.props;
---

<div class="flex items-center justify-center p-5 lg:p-10 flex-1">
  <div class="flex flex-wrap justify-center lg:gap-3 gap-1 md:gap-2 w-full max-w-[1380px] h-full">
    
    {students.map((s, i) => (
      <Cell student={s} index={i} />
    ))}
    
  </div>
</div>